[submodule "61-git-remotes-merge-conflict/OOP-git-merge-conflict-test"]
	path = 61-git-remotes-merge-conflict/OOP-git-merge-conflict-test
	url = git@github.com:giacomoarienti/unibo-oop-merge-conflict.git
